<footer id="footer">
  <div class="container">
    <div class="footer-holder">
      <ul class="quick-links">
        <li><a href="#">CONTENTS</a></li>
        <li><a href="#">DIGITAL EDITION</a></li>
        <li><a href="#">SCHOLARLY ESSAYS</a></li>
        <li><a href="#">ABOUT THE PROJECT</a></li>
      </ul>
      <!-- <div class="footer-logo">
        <span class="text-before">A project of</span>
        <div class="logo-text">
          <a href="#">
            <img src="/images/f-logo.png" alt="A Project Of Brown University">
            <span class="text"><strong>A PROJECT OF</strong> <br>Brown University</span>
            <span class="text-after">
              BROWN
            </span>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</footer>