<footer id="footer">
  <div class="container">
    <div class="footer-holder">
      <ul class="quick-links">
        <li><a href="/search">CONTENTS</a></li>
        <li><a href="/atalanta-fugiens">DIGITAL EDITION</a></li>
        <li><a href="/essays">SCHOLARLY ESSAYS</a></li>
        <li><a href="/back-matter/about">ABOUT THE PROJECT</a></li>
        <li><a href="/back-matter/terms">TERMS OF USE</a></li>
      </ul>
    </div>
    <div class="footer--branding">
      <a class="branding--logo" href="https://www.upress.virginia.edu/" target="_blank"><img src="/assets/img/default/logoUVAPressHorizontalWhite.png" alt="Logo for University of Virginia Press" /></a>
      <a class="branding--series" href="https://www.upress.virginia.edu/series/studies-early-modern-german-history" target="_blank">Studies in Early Modern German History</a>
      <span class="branding--editor">H.C. Erik Midelfort, Series Editor</span>
    </div>
  </div>
</footer>