  <div id="target"></div>
  <script id="template" type="x-tmpl-mustache">
    <div class="image-description" data-emblem-id="{{ "{{ id }}" }}">
      <div class="image-holder" data-thing="{{ "{{size}}" }}">
        <img src='/images/emblems/{{ "{{size}}" }}/emblem{{ "{{id}}" }}.{{ "{{size}}" }}.jpg' alt="image-description">
        <div class="drag-image">
          <div class="drag-icon">
            <img src="/images/drag-icon.png" alt="drag-icon">
          </div>
          <span class="drag-text">
            Drag to Reorder
          </span>
        </div>
      </div>
      <div class="detail">
        <div class="name-tags">
          <div class="name">Emblem {{ "{{name}}" }}</div>
          <ul class="extra-edits">
            <li>
              <a class="lightbox" data-link="zoom" data-type="ajax" data-src="/templates/modals/modal-zoom.html" href="javascript:;"><span class="icon-search"></span></a>
            </li>
            <li><a href="#"> <span class="icon-trash"></span></a></li>
          </ul>
        </div>
        <div class="tag-wrapper">
          <a class="tag-opener" href="#">
            TAGS <span class="icon-down"></span><span class="icon-cancel"></span>
          </a>
          <ul class="slide"></ul>
          <div class="tag-no">
            <span class="tags-count"></span>
            <div class="tag-detail">
              <span class="title">
                <span class="tags-count"></span> Matching Tags in this Collection:
              </span>
              <ul class="tag-list"></ul>
              <a class="all-tags" href="javascript:;'">
                Show All Tags
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <div class="cookies-bar">
    <div class="container">
      <p>This website use cookies, which are necessary to its functioning. Please enable Cookies in your browser and try again.</p>
    </div>
    <a href="javascript:;" class="close"><span class="icon-cancel"></span></a>
  </div>

</body>
</html>