<!--   <div class="_footer">
    <footer>
      <div class="footer--main">
        <ul>
          <li><a href="../search">Contents</a></li>
          <li><a href="../atalanta-fugiens">Digital Edition</a></li>
          <li><a href="../atalanta-essays/essays">Scholarly Essays</a></li>
          <li><a href="../back-matter/about">About the Project</a></li>
          <li><a href="../back-matter/terms">Terms of Use</a></li>
        </ul>
      </div>
      <div class="footer--branding">
            <a class="branding--logo" href="https://www.upress.virginia.edu/" target="_blank"><img src="assets/img/default/logoUVAPressHorizontalWhite.png" alt="Logo for University of Virginia Press" /></a>
            <a class="branding--series" href="https://www.upress.virginia.edu/series/studies-early-modern-german-history" target="_blank">Studies in Early Modern German History</a>
            <span class="branding--editor">H.C. Erik Midelfort, Series Editor</span>
      </div>
    </footer>
  </div> -->


<footer id="footer">
  <div class="container">
    <div class="footer-holder">
      <ul class="quick-links">
        <li><a href="/search">CONTENTS</a></li>
        <li><a href="/atalanta-fugiens">DIGITAL EDITION</a></li>
        <li><a href="/essays">SCHOLARLY ESSAYS</a></li>
        <li><a href="/back-matter/about">ABOUT THE PROJECT</a></li>
        <li><a href="/back-matter/terms">TERMS OF USE</a></li>
      </ul>
      
      <!-- <div class="footer-logo">
        <span class="text-before">A project of</span>
        <div class="logo-text">
          <a href="#">
            <img src="/images/f-logo.png" alt="A Project Of Brown University">
            <span class="text"><strong>A PROJECT OF</strong> <br>Brown University</span>
            <span class="text-after">
              BROWN
            </span>
          </a>
        </div>
      </div> -->
    </div>
    <div class="footer--branding">
      <a class="branding--logo" href="https://www.upress.virginia.edu/" target="_blank"><img src="assets/img/default/logoUVAPressHorizontalWhite.png" alt="Logo for University of Virginia Press" /></a>
      <a class="branding--series" href="https://www.upress.virginia.edu/series/studies-early-modern-german-history" target="_blank">Studies in Early Modern German History</a>
      <span class="branding--editor">H.C. Erik Midelfort, Series Editor</span>
    </div>
  </div>
</footer>