  <div id="target"></div>
  <script id="template" type="x-tmpl-mustache">
    <div class="image-description" data-emblem-id="{{ "{{ id }}" }}">
      <div class="image-holder" data-thing="{{ "{{size}}" }}">

          
          {{ safeHTML "<img src=\"/images/emblems/{{size}}/emblem{{id}}.{{size}}.jpg\" >" }}

       
        <div class="drag-image">
          <div class="drag-icon">
            <img src="/images/drag-icon.png" alt="drag-icon">
          </div>
          <span class="drag-text">
            Drag to Reorder
          </span>
        </div>
      </div>
      <div class="detail">
        <div class="name-tags">
          <div class="name">Emblem {{ "{{name}}" }}</div>
          <ul class="extra-edits">
            <li>
              <a class="lightbox" data-link="zoom" data-type="ajax" data-src="/templates/modals/modal-zoom.html" href="javascript:;"><span class="icon-search"></span></a>
            </li>
            <li><a href="#"> <span class="icon-trash"></span></a></li>
          </ul>
        </div>
        <div class="tag-wrapper">
          <a class="tag-opener" href="#">
            TAGS <span class="icon-down"></span><span class="icon-cancel"></span>
          </a>
          <ul class="slide"></ul>
          <div class="tag-no">
            <span class="tags-count"></span>
            <div class="tag-detail">
              <span class="title">
                <span class="tags-count"></span> Matching Tags in this Collection:
              </span>
              <ul class="tag-list"></ul>
              <a class="all-tags" href="javascript:;'">
                Show All Tags
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <div class="cookies-bar">
    <div class="container">
      <p>This website use cookies, which are necessary to its functioning. Please enable Cookies in your browser and try again.</p>
    </div>
    <a href="javascript:;" class="close"><span class="icon-cancel"></span></a>
  </div>
  <script src="/assets/vendors/jquery/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="/assets/page.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.5/lunr.min.js"></script>
  <script src="/assets/lunr-languages/lunr.stemmer.support.js"></script>
  <script src="/assets/lunr-languages/lunr.multi.js"></script>
  <script src="/assets/lunr-languages/lunr.de.js"></script>
  <script src="/assets/search-bul.js"></script>
  <script src="/assets/searchfunction.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</body>
</html>