<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
    {{- else -}}
    {{ $title := replace .Title "<em>" "" }}
    {{ $title := replace $title "</em>" "" }}
    <title>{{ $title }} &middot; {{ .Site.Title }}</title>
    {{- end }}

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/main.scss" | toCSS $options | postCSS (dict "use" "autoprefixer") | minify | fingerprint }}
    <style>@media print {div.page-anchor, div.header-wrap, div.collections-wrapper { display:none;} }</style>
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $jquery := resources.Get "js/vendor/jquery-3.3.1.min.js" }}
    {{ $global := resources.Get "js/modules/global.js" }}
    {{ $collections := resources.Get "js/modules/collections.js" }}
    {{ $animations := resources.Get "js/modules/animations.js" }}
    {{ $searchmodal := resources.Get "js/modules/searchmodal.js" }}
    {{ $plugins := resources.Get "js/vendor/plugins.js" }}
    

    {{ $js := slice $jquery $global $collections $animations $searchmodal $plugins | resources.Concat "js/bundle.js" | fingerprint }}
    <script src="{{ $js.Permalink }}" defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162912752-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162912752-1');
    </script>

</head>
<body id="top">