<header id="header">
  <div class="header-wrap">
    <div class="frame">
      <div class="logo">
        <a href="#">
          <img src="{{ .Site.BaseURL }}images/logo.png" alt="ff" class="dark-logo">
          <img src="{{ .Site.BaseURL }}images/logo01.png" alt="ff" class="light-logo">
        </a>
      </div>
      <nav id="nav">
        <a href="#" class="nav-opener"><span>Menu</span></a>
        <div class="nav-drop">
          <ul>
            <li><a href="#">DIGITAL EDITION</a></li>
            <li><a href="#">ESSAYS</a></li>
            <li><a href="#">IMAGES</a></li>
            <li><a href="#">CONTENTS</a></li>
            <li class="topnav__search">
              <button class="topnav__search--closed">
                <span class="topnav__search-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560"
                    xml:space="preserve">
                    <style type="text/css">
                      .st0 {
                        fill: none;
                        stroke: #fff;
                        stroke-width: 20;
                        stroke-miterlimit: 10;
                      }
                    </style>
                    <g id="handle">
                      <g>
                        <path class="st0" d="M537.6,337.5l97,97L537.6,337.5z" />
                      </g>
                    </g>
                    <g id="glass">
                      <g>
                        <path class="st0" d="M480,153c33.9,0,65.8,13.2,89.8,37.2S607,246.1,607,280s-13.2,65.8-37.2,89.8S513.9,407,480,407s-65.8-13.2-89.8-37.2
                        S353,313.9,353,280s13.2-65.8,37.2-89.8S446.1,153,480,153 M480,143c-75.7,0-137,61.3-137,137s61.3,137,137,137s137-61.3,137-137
                        S555.7,143,480,143L480,143z" />
                      </g>
                    </g>
                  </svg></span>
                <span class="topnav__search-label">Search</span>
              </button>
            </li>
          </ul>
        </div>
      </nav>
      <div class="search__modal" aria-hidden="true">
        <button class="x-close" aria-label="Close search modal"></button>
        <form id="ataSearch" class="search__bar">
          <label class="label search__bar__label" for="search__bar__field">Enter your search below</label>
          <input type="text" id="search__bar__field"
            aria-label="Search the digital edition, scholarly essays or emblem images" />
          <button class="submit" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="header-area">
    <section class="header-banner">
      <div class="container">
        <h1><a href="#top" class="anchor">{{ with .Title }}{{ . | safeHTML }}{{ end }}</a></h1>
        <div class="caption">
          <h4>{{ with .Params.Caption }}{{ . | safeHTML }}{{ end }}</h4>
          <span class="by">by {{ .Params.Author }}</span>
        </div>
      </div>
      <div class="header-bg" style="background-image: url({{ .Params.Background }});"></div>
    </section>
    {{ if .Params.Sections }}
      <div class="page-anchor">
        <div class="container">
          {{ $sectionCount := len .Params.Sections }}
          <ol {{ if gt $sectionCount 5 }}class="extended-anchors"{{ end }}>
            {{ range .Params.Sections }}
            {{ with . }}{{ . | safeHTML }}{{ end }}
            {{ end }}
          </ol>
        </div>
      </div>
    {{ end }}
  </div>
</header>