<header id="header">
  <div class="header-wrap">
    <div class="frame">
      <div class="logo">
        <a href="#">
          <img src="{{ .Site.BaseURL }}images/logo.png" alt="ff" class="dark-logo">
          <img src="{{ .Site.BaseURL }}images/logo01.png" alt="ff" class="light-logo">
        </a>
      </div>
      <nav id="nav">
        <a href="#" class="nav-opener"><span>Menu</span></a>
        <div class="nav-drop">
          <ul>
            <li><a href="#">ESSAYS</a></li>
            <li><a href="#">DIGITAL EDITION</a></li>
            <li><a href="#">CONTENTS</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="header-area">
    <section class="header-banner">
      <div class="container">
        <h1>{{ .Title }}</h1>
        <div class="caption">
          <h4>{{ with .Params.Caption }}{{ . | safeHTML }}{{ end }}</h4>
          <span class="by">by {{ .Params.Author }}</span>
        </div>
      </div>
      <div class="header-bg" style="background-image: url({{ .Params.Background }});"></div>
    </section>
    <div class="page-anchor">
      <div class="container">
        <ol>
          {{ range .Params.Sections }}
          {{ with . }}{{ . | safeHTML }}{{ end }}
          {{ end }}
        </ol>
      </div>
    </div>
  </div>
</header>