html, body {
  font-family: Garamond, serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

span.strike {
  display: none; }

.slide-in {
  -webkit-transform: translateX(-125%);
  -ms-transform: translateX(-125%);
  transform: translateX(-125%);
  /*	outline: 5px solid blue;*/ }

.slide-out {
  -webkit-transform: translateX(125%);
  -ms-transform: translateX(125%);
  transform: translateX(125%); }

header {
  /*	outline: 5px solid purple;*/
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  min-height: 60vh;
  margin-bottom: 2rem; }
  header h1.title {
    font-size: 8rem;
    line-height: 9rem;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
    padding-right: 400px; }
  header h2.subtitle {
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 2rem;
    margin: 0 0 1rem 0; }
  header h4.byline {
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 2rem;
    margin: 0; }

nav {
  background-color: orange;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin-bottom: 3rem; }
  nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 10vh; }
  nav li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 25%; }
  nav a {
    color: black; }
  nav a:hover {
    color: gray; }

article {
  /*	outline: 5px solid orange;*/
  display: grid;
  font-size: 1.25rem;
  line-height: 2rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: reapeat(4, fit-content(100%));
  grid-column-gap: 1.75rem;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden; }

.marginalia {
  /*		outline: 1px solid red;*/
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: .5rem; }
  .marginalia img {
    width: 100%; }

.article {
  /*		outline: 1px solid red;*/
  grid-column-start: 3;
  grid-column-end: 8;
  padding: 0 3rem; }
  .article .figure div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .article .figure img {
    max-height: 60vh; }
  .article .figure p {
    text-align: center; }

sup {
  border-bottom: 2px solid blue;
  color: blue;
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  font-weight: 800;
  line-height: .5rem;
  margin: 0 .125rem;
  padding: 0 .125rem; }

sup:hover {
  color: black;
  border-bottom: 2px solid black; }

.footnotes {
  /*		outline: 1px solid red;*/
  grid-column-start: 8;
  grid-column-end: 10; }

p.article-abstract {
  font-size: 1.5rem;
  grid-column-start: 4;
  grid-column-end: 9;
  margin: 0 0 2rem 0; }

p.article-text {
  grid-column-start: 3;
  grid-column-end: 8; }

p.subheading {
  grid-column-start: 3;
  grid-column-end: 8;
  margin-left: -3rem; }

.figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.marginal {
  grid-column-start: 1;
  grid-column-end: 4; }

.footnote {
  /*		outline: 5px solid black;*/
  border-top: 10px solid black;
  grid-column-start: 8;
  grid-column-end: 10;
  position: relative;
  right: -125%;
  width: 100%; }
  .footnote p {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-right: 2rem; }
  .footnote a {
    white-space: pre-wrap;
    word-wrap: break-word; }

section {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-template-columns: repeat(9, 1fr); }

section:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 2; }

section:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3; }

section:nth-child(3) {
  grid-row-start: 3;
  grid-row-end: 4; }

section:nth-child(4) {
  grid-row-start: 4;
  grid-row-end: 5; }

.subhead-section {
  background-color: orange;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 10;
  min-height: 50vh;
  margin: 3rem 0; }
