.emblems-active {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}

.collections-wrapper {
	position: fixed;
	top: calc(100% - 20px);
	left: 0;
	width: 100%;
	z-index: 100;
	transition: top 0.3s;

	.cookies-disabled & {
		display: none;
	}
}

.collection-opener {
	position: relative;
}
.opener-holder-bg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	height: 30px;

	@include media('>=tablet') {
		height: 50px;
	}

	.full-state & {
		background: $dark-gray;
	}
}

.opener-holder {
	background-color: #dc4929;
	padding: 8px 8px 0 14px;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
	white-space: nowrap;
	height: 30px;
	line-height: 1;

	.half-state & {
		background-color: #333;
	}

	.full-state & {
		background-color: #333;
		width: 100%;

		@include media('>=tablet') {
			background-color: #4d4d4d;
			width: auto;
		}
	}

	@include media('>=desktop') {
		padding: 8px 8px 0 18px;
		position: absolute;
		right: 364px;
	}

	@include media('>=1450px') {
		right: 31%;
	}

	&:before , &:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-width: 0 22.5px 39px;
		border-color: transparent transparent #dc4929;
		border-style: solid;
		left: -23px;
		top: 0;
		z-index: -1;

		.half-state & {
			border-color: transparent transparent #333;
		}

		.full-state & {
			border-color: transparent transparent #333;

			@include media('>=tablet') {
				border-color: transparent transparent #4d4d4d;
			}
		}
	}

	&:after {
		left:auto;
		right: -23px;
	}

	a {
		color: $white;

		&:hover {
			color: #ffb000; 
		}
	}

	.js-btns {
		display: inline-block;
		vertical-align: middle;
		min-width: 40px;
		text-align: right;
		font-size: 13px;

		.btn-up {
			margin: 0 2px;
		}

		.btn-down {
			display: none;
			margin: 0 2px;
		}

		.btn-close {
			display: none;
			margin: 0 2px;
		}

		.icon-down {
			font-size: inherit;
		}

		.icon-up {
			font-size: inherit;
		}

		.half-state & {
			.btn-down {
				display: inline;
			}

			.btn-close {
				display: none;
			}
		}

		.full-state & {
			.btn-up {
				display: none;
			}

			.btn-down {
				display: inline;
			}

			.btn-close {
				display: inline;
			}
		}
	}

	.opener {
		padding: 0 20px 0 9px;
	}

	.collection-name {
		font-size: 13px;
		color: $white;
	}

	.icon-cancel {
		font-size: 8px;
	}
}

.all-collections {
	position: relative;
	background-color: rgba(0,0,0,0.75);
	padding: 13px 0;
	color: $white;

	.collections-wrapper & {
		border-top: 20px solid #dc4929;
	}

	.cookies-disabled & {
		display: none;
	}
	
	@include media('>=phone') {
		padding: 26px 0;
	}

	.half-state & {
		border-top-color: #333;
	}

	.full-state & {
		border-top-width: 0px;
		border-top-color: #4d4d4d;
		
		@include media('>=tablet') {
			border-top-width: 20px;
		}
	}

	.emblems-active & {
		height: 100%;
		overflow-y: auto;
	}

	.grids-content {
		@include media('>=1300px') {
			margin-right: -24px;
		}
	}
}

.create-collection {
	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-bottom: 1px solid #666;
		padding-bottom: 15px;
		align-items: flex-end;
		margin-bottom: 34px;
	}

	@include media('>=1300px') {
		margin-right: -23px;
	}

	.sm-view{
		display: none;

		@include media('>=desktop') {
			display: block;
		}
	}

	.new-collection {
		text-align: center;
		margin-bottom: 20px;

		@include media('>=tablet') {
			text-align: left;
			margin: 0;
		}
	}
}

.collection-view {
	display: none;

	@include media('>=tablet') {
		display: flex;
		flex-wrap: wrap;
	}

	@include media('>=desktop') {
		align-items: flex-end;	
		line-height: 0;
	}

	.title {
		display: inline-block;
		color: #808080;
		padding-bottom: 0px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 13px;

		@include media('>=desktop') {
			padding-bottom: 8px;
		}

		em {
			font-style: normal;
			font-weight: 400;
		}
	}

	.grids {
		display: flex;
		flex-wrap: wrap;
	}
}

.view-icon {
	margin-left: 34px;
	line-height: 0;

	span {
		display: inline-block;
		color: #58595b;
		@include animate(color , 0.25s);

		&:hover {
			color: #b3b3b3;
		}
	}

	.selected {
		span {
			color: #b3b3b3;
		}
	}
}

.collection-wrapper {
	border-bottom: 1px solid #666666;
	margin-bottom: 40px;
	padding-bottom: 30px;

	&:last-child {
		border-bottom: 0;
	}

	@include media('>=tablet') {
		padding-bottom: 20px;

	}

	a {
		&:hover {
			color:  #ffb000;
		}
	}
}

.top-holder {
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	position: relative;

	@include media('>=tablet') {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: left;
	}

}

.new-collection {
	a {
		font-size: 15px;
		color: $white;
		display: inline-block;
		padding: 6px 13px;
	}
}

.btn {
	background-color: #666666;
	padding:10px;

	&:hover {
		background-color: darken( #666666, 10%);
	}
}

.collection-name {
	@include media('>=tablet') {
		width: 360px;
		margin-bottom: 15px;
	}

	@include media('>=desktop') {
		margin-bottom: 0;
		width: 50%;
	}

	h5 {
		font-weight: 600;
		display: inline;
		margin: 0;

		@include media('<tablet') {
			font-size: 19px;
		}
	}

	.name {
		display: block;

		@include media('>=tablet') {
			max-width: 415px;
			margin-right: 15px;
		}

		@include media('>=desktop') {
			display: inline-block;
		}

		em {
			font-size: 14px;
			display: block;

			@include media('>=tablet') {
				display: inline-block;
			}
		}
	}

	.icon-add {
		display: inline-block;
		font-size: 10px;
		margin-right: 5px;
	}

	.add-elements {
		width: 100%;
		margin-bottom: 6px;
		position: absolute;
		top: 0;
		left: 0;

		@include media('>=tablet') {
			width: auto;
			margin-bottom: 0;
			position: static;
			display: inline;
		}

		a {
			color: $white;

			&:hover {
				color: $yellow;
			}
		}

		h6 {
			font-weight: 600;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			margin: 0;
		}
	}
}

.image-collection {
	font-size: 0;
	text-align: center;

	@include media('>=phone') {
		text-align: left;
	}
	
	@include media('>=tablet') {
		margin: 0 -15px;
	}
}

.edit-collection {
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	font-weight: 600;
	padding-top: 27px;

	@include media('>=tablet') {
		width: 50%;
		padding-left: 15px;
		padding-top: 0;
		justify-content: flex-end;
	}

	ul {
		text-align: center;
		width: 100%;
		margin: 0;
		margin-bottom: 17px;

		@include media('>=tablet') {
			display: flex;
			flex-wrap: wrap;
			width: auto;
			margin-bottom: 0;
		}

		li {
			text-transform: uppercase;

			@include media('>=tablet') {
				margin-left: 33px;

				&:first-child {
					margin-left: 0;
				}
			}

			a {
				color: #b2b2b2
			}
		}
	}
}

.small-grid {
	.image-description {
		&:nth-child(5) {
			.tag-detail {
				@include media('>=desktop') {
					left: auto;
					right: -40px;
				}

				&:after {
					@include media('>=desktop') {
						left: auto;
						right: 37px;
					}
				}
			}
		}

		&:nth-child(3n) {
			.tag-detail {
				@include media('<desktop') {
					left: auto;
					right: -40px;
				}

				@include media('<tablet') {
					left: 0;
					right: auto;
				}

				&:after {
					@include media('<desktop') {
						left: auto;
						right: 37px;
					}

					@include media('<tablet') {
						left: 11px;
						right: auto;
					}
				}
			}
		}
	}
}

.medium-grid {
	.image-description {
		&:nth-child(3n) {
			.tag-detail {
				@include media('<desktop') {
					left: auto;
					right: -40px;
				}

				@include media('<tablet') {
					left: 0;
					right: auto;
				}

				&:after {
					@include media('<desktop') {
						left: auto;
						right: 37px;
					}

					@include media('<tablet') {
						left: 11px;
						right: auto;
					}
				}
			}
		}

		@include media('>=tablet') {
			width: 33.33%;
		}
	}
}

.image-description {
	margin-bottom: 8px;
	width: 269px;
	display: inline-block;
	vertical-align: top;

	@include media('>=phone') {
		width: 50%;
		padding: 0 17px;
		margin-bottom: 15px;
	}

	@include media('>=tablet') {
		width: 33.33%;
	}

	@include media('>=desktop') {
		width: 20%;
	}

	&:nth-child(2n) {
		.tag-detail {
			@include media('>=phone') {
				left: auto;
				right: -40px;
			}

			@include media('>=tablet') {
				left: 0;
				right: auto;
			}

			&:after {
				@include media('>=phone') {
					left: auto;
					right: 37px;
				}

				@include media('>=tablet') {
					left: 11px;
					right: auto;
				}
			}
		}
	}
	
	.image-holder {
		position: relative;

		&.hover {
			.drag-image {
				opacity: 1;
				cursor: move;
			}
		}

		> img {
			max-width: none;
			width: 100%;
		}

		.drag-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(230, 227, 223, 0.7);
			justify-content: center;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			opacity:0;
			flex-direction: column;

			@include animate(opacity , 0.4s);
		}

		.drag-text {
			color: #333;
			font-size: 14px;
		}
	}
	.detail {
		padding: 9px 3px;
		font-size: 11.21px;
		color: #808080;
		text-align: left;

		@include media('>=tablet') {
			padding: 10px 0;
		}

		> .active {
			.tag-opener {
				.icon-cancel {
					display: inline-block;
				}

				.icon-down {
					display: none;
				}
			}
		}
	}

	.extra-edits {
		width: 70px;
		display: flex;
		flex-wrap: wrap;

		@include media('>=tablet') {
			justify-content: flex-end;
		}

		li {
			margin-right:17px;
			padding-top: 3px;

			@include media('>=tablet') {
				&:last-child {
					margin-right: 0
				}
			}

			span {
				color: #ccc;
				font-size: 14px;
				@include animate(color , 0.25s);

				&:hover {
					color: #ffb000;
				}

				@include media('>=tablet') {
					font-size: 10px;
				}
			}
		}
	}

	.name-tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.name {
		font-size: 14.27px;
		width: calc(100% - 90px);
		margin-right:10px;
		color: $white;
		margin-bottom: 3px;
	}

	.tag-opener {
		color: #696969;
		text-transform: uppercase;

		.icon-down{
			margin: 0 6px;
			font-size: 10px;
		}
		.icon-cancel {
			display: none;
			margin: 0 6px;
			font-size: 8px;
		}
	}
	.tag-wrapper {
		position: relative;
	}
	.tag-no {
		padding: 1px;
		background-color: #ffb000;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 55px;
		font-size: 9.17px;
		color: #333333;
		cursor: pointer;
		vertical-align: top;
		width: 16px;
		height: 16px;

		&:hover {
			.tag-detail{
				display: block;
			}
		}

		> .tags-count {
			text-align: center;
			display: block;
		}
	}

	.tag-detail {
		position: absolute;
		bottom: 100%;
		background-color: #ffb000;
		left: 0;
		padding: 12px 10px 17px 17px;
		width: 233px;
		display: none;
		margin-left: -16px;
		margin-bottom: 23px;
		z-index: 9;

		@include media('>=phone') {
			width: 175px;
			padding: 5px 8px 8px 8px;
		}

		@include media('>=tablet') {
			width: 233px;
			padding: 12px 10px 17px 17px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-width: 12px 12px 0 12px;
			border-color: #FFB000 transparent transparent transparent;
			border-style: solid;
			top: 100%;
			left:11px;
		}

		&:before {
			content: '';
			position: absolute;
			height: 25px;
			left: 0;
			right: 0; 
			background: transparent;
			top: 100%;
		}

		.title {
			color: $white;
			font-size: 13px;
			margin-bottom: 3px;
		}

		.tag-list {
			margin-bottom: 28px;
			column-count: 2;
			
			@include media('>=phone') {
				margin-bottom: 10px;
			}

			@include media('>=tablet') {
				margin-bottom: 28px;
			}

			li {
				margin-bottom: 3px;
			}

			a {
				color: $black;
				font-size: 12px;
				line-height: 1.2;

				&:hover {
					color: $white;
				}
			}
		}

		.all-tags {
			font-size: 13px;
			color: $white;
			text-decoration: underline;
		}
	}
}

.slide {
	display: flex;
	flex-wrap: wrap;
	padding-top: 5px;

	> li {
		overflow-wrap: break-word;
		list-style: none;
		margin-right: 4px;
		color: #ccc;
		font-size: 12px;

		&:after {
			content: ",";
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		a {
			color: #ccc;

			&:hover {
				color:  #ffb000;
			}
		}
	}
	.active {
		a {
			color: #ffb000;
		}
	}
}

.large-grid {
	.image-description {
		@include media('>=tablet') {
			width: 50%;
		}
	}
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.popup {
	text-align: center;

	@include media('>=phone') {
		text-align: left;
	}

	.collection-detail {
		background-color: #454545;
		padding: 20px 30px;
		width: 100%;
		@include media('>=phone') {
			padding: 30px 40px; 
		}

		@include media('>=tablet') {
			padding: 50px 50px; 
		}

		@include media('>=desktop') {
			padding: 70px 90px; 
		}
		
		img {
			margin-bottom: 16px;
		}

		.image-name {
			font-size: 20px;
			display: block;
			color: #cccccc;
		}
		
		.title,
		h3 {
			margin-bottom: 53px;
			display: block;
			font-size: 30px;
			color: $white;
			font-weight: 400;
		}
	}
}

.add-collections {
	.collection-detail {
		padding: 20px 30px;

		@include media('>=tablet') {
			padding: 50px 80px; 
		}

		@include media('>=desktop') {
			padding: 70px 160px; 
		}
	}

	.details {
		padding-left: 2px;

		.all-tags {
			font-size: 11px;
			color: #808080;
		}

		.slide {
			border-bottom: 1px solid #979797;
			padding-bottom: 30px;
			margin-bottom: 25px;
			padding-top: 0;

			li{
				font-size: 14px;
			}
		}

		.view {
			text-align: center;
			text-transform: uppercase;

			a {
				color: #b3b3b3;
				font-size: 13px;

				&:hover {
					color: #ffb000;
				}
			}
		}
	}

	.img-holder {
		margin-bottom: 7px;
	}

	img {
		height: auto;

		@include media('>=desktop') {
			height: 462px;

		}
	}
}

.create-collections {
	.collection-detail {
		input {
			width: 100%;
			margin-bottom: 10px;
			border-bottom: none;
			color: #cccccc;
			height: 49px;
			margin-bottom: 15px;
			padding:5px 17px;

			&::placeholder {
				color: #cccccc;
				font-size: 20px;
			}

			&.input-error {
				border: 1px solid #f00;
			}
		}

		button {
			background: transparent;
			border: none;
			font-size: 20px;
			color: #ffb000;
			margin-left: 11px;
		}
	}
}

.choose-collections {
	.collection-wrap {

		@include media('>=desktop') {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.img-holder {
			@include media('>=desktop') {
				width: calc(100% - 450px);

			}
		}

		.details {
			@include media('>=desktop') {
				width: 420px;
			}
		}

		h6 {
			color: #808080;
			font-weight: 700;
			display: block;
			border-bottom: 1px solid #989898;
			margin-bottom: 25px;
		}

		.collection-list {
			margin-bottom: 10px;
			@include media('>=desktop') {
				margin-bottom: 0;
			}

			li {
				font-size: 20px;

				a {
					color: $white;

					&:hover {
						color: #ffb000;
					}
				}
				em {
					font-size: 16px;
				}
			}
		}

		.create {
			color: #ffb000;
			font-size: 20px;
		}

		.image-name {
			margin-bottom: 8px;
			@include media('>=desktop') {
				margin-bottom: 0
			}
		}
	}
}

.copy-collections {
	.link-holder {
		position: relative;
	}

	.copy-info-popup {
		@include animate(opacity visibility);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
	}

	.success-state {
		~ .copy-info-popup {
			opacity: 1;
			visibility: visible;
		}
	}

	.link {
		background-color: #798a8a;
		padding: 0 2px; 
		font-size: 20px;
		word-wrap: break-word;
		color: $white;
	}

	.options {
		font-size: 20px;

		@include media('>=tablet') {
			margin:0 -8px;
		}

		.option1 {
			color: #ffb000;
		}

		a {
			margin-bottom: 10px;

			@include media('>=tablet') {
				margin-bottom: 0;
				padding: 0 8px;
				width: auto;
			}

			&:hover {
				color: #ffb000;
			}
		}
	}
}

.delete-collections {
	.collection-detail{	
		padding: 50px 13px;

		@include media('>=tablet') {
			padding: 50px 80px; 
		}
	}

	.title {
		span {
			color: #b2b2b2;
		}
	}

	.options {
		display: flex;
		flex-wrap:wrap;
		justify-content:center; 
		font-size: 20px;

		@include media('>=tablet') {
			justify-content: space-between;
			margin:0 -8px;
		}

		.option1 {
			color: #ffb000;

			@include media('>=tablet') {
				max-width: 60%;
			}
		}

		.option2 {
			color: #808080;
		}

		a {
			margin-bottom: 10px;
			width: 100%;

			@include media('>=tablet') {
				margin-bottom: 0;
				padding: 0 8px;
				width: auto;
			}

			&:hover {
				color: #ffb000;
			}
		}
	}
}

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;

	.lightbox {
		padding: 5px;
		width: 824px;
	}
}

.fancybox-content {
	width: 824px;
	padding: 0;

	.fancybox-close-small{
		color: #e5e5e5;
		padding: 13px;
		right: -5px;
		top: -5px;
		@include media('>=640px') {
			right: 7px;
			top: 4px
		}
	}
}

.fancybox-bg {
	background: #dfdfdf;

	.fancybox-is-open & {
		opacity: 0.95;
	}
}

.choose-emblems {
	.collection-detail {
		padding: 50px 40px;
	}

	.image-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 12px;
		color: #fff;
		margin: 0 -10px 20px;

		@include media('>=tablet') {
			font-size: 14px;
		}

		li {
			width: 50%;
			padding: 0 10px;
			margin: 0 0 10px;

			@include media('>=480px') {
				width: 33.3%;
			}

			@include media('>=768px') {
				width: 20%
			}

			&.active {
				opacity: 0.6;
			}
		}

		img {
			margin: 0 0 5px;
			display: block;
		}
	}

	.add-link {
		color: $yellow;

		&.disabled {
			pointer-events: none;

			.link-active {
				display: none;
			}

			.link-disabled {
				display: initial;
			}
		}

		.link-active {
			display: initial;
		}

		.link-disabled {
			display: none;
		}
	}
}
