<section class="properties-section" id="bianchi-music-2">
    <div class="interactive-notation container">
        <h4>Excerpt from Fugue 27</h4>
        <div class="music" id="excerpt2">
            <audio src="/audio/27e-A-Dry.mp3" type="audio/mpeg"></audio>
            <button class="play-button" title="Play this musical passage">
                ▶
            </button>
            <div class="cmn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" overflow="hidden">
                    <!-- 
                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="630px" height="900px" version="1.1" overflow="visible">
                       -->
                    <defs>
                        <symbol id="E062" viewBox="0 0 1000 1000" overflow="inherit">
                            <path transform="scale(1,-1)" d="M158 96c51 0 73 -14 88 -49l16 -39c0 -17 -2 -30 -7 -40c-3 -11 -10 -21 -19 -31c-17 -18 -49 -43 -84 -43c-55 0 -77 13 -112 44c-24 21 -35 55 -35 100c0 46 14 81 32 112c30 52 71 79 137 93l36 6l26 2c154 0 235 -68 274 -182c11 -32 18 -68 18 -107 c0 -103 -26 -182 -68 -250c-89 -145 -234 -230 -412 -288l-30 -5c-9 0 -14 3 -14 8c3 10 5 11 10 16c35 15 70 30 96 44l78 43c96 57 162 136 197 258c9 33 17 60 22 100c3 22 5 35 6 39c-7 69 -16 115 -23 140s-4 22 -16 40c-8 12 -19 23 -31 34c-24 21 -62 44 -118 44 c-48 0 -84 -8 -113 -28c-28 -19 -42 -44 -42 -73v-16c2 -5 3 -9 4 -11c24 22 52 39 84 39zM585 -118c0 32 23 58 57 58c18 0 33 -6 40 -18c9 -15 16 -18 16 -40c0 -9 -2 -16 -5 -21c-6 -19 -27 -37 -51 -37c-34 0 -57 26 -57 58zM642 177c31 0 56 -27 56 -58 c0 -30 -25 -58 -56 -58l-23 3c-19 7 -34 32 -34 55l3 23c9 20 28 35 54 35z" />
                        </symbol>
                        <symbol id="E260" viewBox="0 0 1000 1000" overflow="inherit">
                            <path transform="scale(1,-1)" d="M20 110c32 16 54 27 93 27c26 0 35 -3 54 -13c13 -7 24 -20 27 -38l4 -25c0 -28 -16 -57 -45 -89c-23 -25 -39 -44 -65 -68l-88 -79v644h20v-359zM90 106c-32 0 -48 -10 -70 -29v-194c31 31 54 59 71 84c21 32 32 59 32 84c0 9 1 16 1 20c0 14 -3 21 -11 30l-8 3z" />
                        </symbol>
                        <symbol id="E084" viewBox="0 0 1000 1000" overflow="inherit">
                            <path transform="scale(1,-1)" d="M0 -78c84 97 114 180 134 329h170c-13 -32 -82 -132 -99 -151l-84 -97c-33 -36 -59 -63 -80 -81h162v102l127 123v-225h57v-39h-57v-34c0 -43 19 -65 57 -65v-34h-244v36c48 0 60 26 60 70v27h-203v39z" />
                        </symbol>
                        <symbol id="E0A3" viewBox="0 0 1000 1000" overflow="inherit">
                            <path transform="scale(1,-1)" d="M98 -102zM200 138l41 -5c-2 0 -41 5 -41 5zM278 64c0 22 -17 39 -43 39c-12 0 -26 -3 -41 -10c-85 -43 -165 -94 -165 -156c5 -25 15 -32 49 -32c67 11 200 95 200 159zM0 -36c0 68 73 174 200 174c66 0 114 -39 114 -97c0 -84 -106 -173 -218 -173c-64 0 -96 32 -96 96z " />
                        </symbol>
                        <symbol id="E0A4" viewBox="0 0 1000 1000" overflow="inherit">
                            <path transform="scale(1,-1)" d="M0 -39c0 68 73 172 200 172c66 0 114 -37 114 -95c0 -84 -106 -171 -218 -171c-64 0 -96 30 -96 94z" />
                        </symbol>
                    </defs>
                    <style type="text/css">
                        g.page-margin {
                            font-family: Times;
                        }
                        
                        g.tempo {
                            font-weight: bold;
                        }
                        
                        g.dir,
                        g.dynam,
                        g.mNum {
                            font-style: italic;
                        }
                        
                        g.label {
                            font-weight: normal;
                        }
                    </style>
                    <!-- <svg class="definition-scale" viewBox="0 0 21000 30000"> -->
                    <svg class="definition-scale" viewBox="0 0 20000 2182">
                        <!-- <g class="page-margin" transform="translate(0, 0)"> -->
                        <g class="page-margin" transform="translate(500                                                 , -500)">
                            <g class="system" id="system-0000001360079391">
                                <g class="section boundaryStart" id="m-31" />
                                <g class="sb" id="m-33" />
                                <g class="measure" id="m-32">
                                    <g class="staff" id="m-34">
                                        <path d="M0 1270 L5852 1270" stroke="#000000" stroke-width="13" />
                                        <path d="M0 1450 L5852 1450" stroke="#000000" stroke-width="13" />
                                        <path d="M0 1630 L5852 1630" stroke="#000000" stroke-width="13" />
                                        <path d="M0 1810 L5852 1810" stroke="#000000" stroke-width="13" />
                                        <path d="M0 1990 L5852 1990" stroke="#000000" stroke-width="13" />
                                        <g class="clef" id="clef-0000001275752129">
                                            <use xlink:href="#E062" x="88" y="1450" height="720px" width="720px" />
                                        </g>
                                        <g class="keySig" id="keysig-0000001089300455">
                                            <use xlink:href="#E260" x="769" y="1810" height="720px" width="720px" />
                                        </g>
                                        <g class="meterSig" id="msig-0000000574656510">
                                            <use xlink:href="#E084" x="1091" y="1450" height="720px" width="720px" />
                                            <use xlink:href="#E084" x="1091" y="1810" height="720px" width="720px" />
                                        </g>
                                        <g class="ledgerLines above">
                                            <path d="M2644 1090 L2960 1090" stroke="#000000" stroke-width="22" />
                                        </g>
                                        <g class="layer" id="m-35">
                                            <g class="rest" id="m-36">
                                                <rect x="1639" y="1540" height="90" width="216" />
                                            </g>
                                            <g class="note" id="m-37">
                                                <use xlink:href="#E0A3" x="2689" y="1000" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="2689" y="1022" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-48">
                                                    <g class="syl" id="m-49">
                                                        <text x="2599" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001382650244">
                                                                <tspan font-size="405px" class="text">Lu</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="3295" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-38">
                                                <use xlink:href="#E0A3" x="3739" y="1180" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="3739" y="1202" height="608" width="18" />
                                                </g>
                                                <g class="accid" id="m-39" />
                                                <g class="verse" id="m-50">
                                                    <g class="syl" id="m-51">
                                                        <text x="3649" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001724733670">
                                                                <tspan font-size="405px" class="text">xu</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="4323" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-40">
                                                <use xlink:href="#E0A3" x="4789" y="1360" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="4789" y="1382" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-52">
                                                    <g class="syl" id="m-53">
                                                        <text x="4699" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000000597676585">
                                                                <tspan font-size="405px" class="text">ri</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="5391" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g class="barLineAttr" id="bline-0000002060788682">
                                        <path d="M5839 1990 L5839 1270" stroke="#000000" stroke-width="27" />
                                    </g>
                                </g>
                                <g class="measure" id="m-41">
                                    <g class="staff" id="m-42">
                                        <path d="M5852 1270 L10245 1270" stroke="#000000" stroke-width="13" />
                                        <path d="M5852 1450 L10245 1450" stroke="#000000" stroke-width="13" />
                                        <path d="M5852 1630 L10245 1630" stroke="#000000" stroke-width="13" />
                                        <path d="M5852 1810 L10245 1810" stroke="#000000" stroke-width="13" />
                                        <path d="M5852 1990 L10245 1990" stroke="#000000" stroke-width="13" />
                                        <g class="layer" id="m-43">
                                            <g class="note" id="m-44">
                                                <use xlink:href="#E0A3" x="6032" y="1540" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="6240" y="910" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-54">
                                                    <g class="syl" id="m-55">
                                                        <text x="5942" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000000991983146">
                                                                <tspan font-size="405px" class="text">at,</tspan>
                                                            </tspan>
                                                        </text>
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-45">
                                                <use xlink:href="#E0A3" x="7082" y="1270" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="7082" y="1292" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-64">
                                                    <g class="syl" id="m-65">
                                                        <text x="6992" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001672327668">
                                                                <tspan font-size="405px" class="text">lu</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="7621" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-46">
                                                <use xlink:href="#E0A3" x="8132" y="1630" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="8340" y="1000" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-66">
                                                    <g class="syl" id="m-67">
                                                        <text x="8042" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001175606209">
                                                                <tspan font-size="405px" class="text">xu</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="8716" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-47">
                                                <use xlink:href="#E0A3" x="9182" y="1360" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="9182" y="1382" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-68">
                                                    <g class="syl" id="m-69">
                                                        <text x="9092" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001820800048">
                                                                <tspan font-size="405px" class="text">ri</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="9784" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g class="barLineAttr" id="bline-0000000092772223">
                                        <path d="M10232 1990 L10232 1270" stroke="#000000" stroke-width="27" />
                                    </g>
                                </g>
                                <g class="measure" id="m-56">
                                    <g class="staff" id="m-57">
                                        <path d="M10245 1270 L14968 1270" stroke="#000000" stroke-width="13" />
                                        <path d="M10245 1450 L14968 1450" stroke="#000000" stroke-width="13" />
                                        <path d="M10245 1630 L14968 1630" stroke="#000000" stroke-width="13" />
                                        <path d="M10245 1810 L14968 1810" stroke="#000000" stroke-width="13" />
                                        <path d="M10245 1990 L14968 1990" stroke="#000000" stroke-width="13" />
                                        <g class="layer" id="m-58">
                                            <g class="note" id="m-59">
                                                <use xlink:href="#E0A3" x="10425" y="1720" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="10633" y="1090" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-70">
                                                    <g class="syl" id="m-71">
                                                        <text x="10335" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001407095667">
                                                                <tspan font-size="405px" class="text">at</tspan>
                                                            </tspan>
                                                        </text>
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-60">
                                                <use xlink:href="#E0A3" x="11475" y="1450" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="11475" y="1472" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-81">
                                                    <g class="syl" id="m-82">
                                                        <text x="11385" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000000640946275">
                                                                <tspan font-size="405px" class="text">So</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="12070" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-61">
                                                <use xlink:href="#E0A3" x="12525" y="1630" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="12733" y="1000" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-83">
                                                    <g class="syl" id="m-84">
                                                        <text x="12435" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000001255404779">
                                                                <tspan font-size="405px" class="text">phi</tspan>
                                                            </tspan>
                                                        </text>
                                                        <rect x="13952" y="2383" height="18" width="108" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g class="note" id="m-62">
                                                <use xlink:href="#E0A4" x="13575" y="1360" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="13575" y="1382" height="608" width="18" />
                                                </g>
                                            </g>
                                            <g class="note" id="m-63">
                                                <use xlink:href="#E0A4" x="14265" y="1450" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="14265" y="1472" height="608" width="18" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <g class="barLineAttr" id="bline-0000000759201888">
                                        <path d="M14955 1990 L14955 1270" stroke="#000000" stroke-width="27" />
                                    </g>
                                </g>
                                <g class="measure" id="m-72">
                                    <g class="staff" id="m-73">
                                        <path d="M14968 1270 L16243 1270" stroke="#000000" stroke-width="13" />
                                        <path d="M14968 1450 L16243 1450" stroke="#000000" stroke-width="13" />
                                        <path d="M14968 1630 L16243 1630" stroke="#000000" stroke-width="13" />
                                        <path d="M14968 1810 L16243 1810" stroke="#000000" stroke-width="13" />
                                        <path d="M14968 1990 L16243 1990" stroke="#000000" stroke-width="13" />
                                        <g class="layer" id="m-74">
                                            <g class="note" id="m-75">
                                                <use xlink:href="#E0A3" x="15148" y="1540" height="720px" width="720px" />
                                                <g class="stem">
                                                    <rect x="15356" y="910" height="608" width="18" />
                                                </g>
                                                <g class="verse" id="m-85">
                                                    <g class="syl" id="m-86">
                                                        <text x="15058" y="2482" font-size="0px">
                                                            <tspan class="text" id="text-0000000415487565">
                                                                <tspan font-size="405px" class="text">ae</tspan>
                                                            </tspan>
                                                        </text>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <!--
                            <g class="barLineAttr" id="bline-0000001797868780">
                              <path d="M16081 1990 L16081 1270" stroke="#000000" stroke-width="27"/>
                              <path d="M16198 1990 L16198 1270" stroke="#000000" stroke-width="90"/>
                            </g> -->
                                </g>
                                <g class="boundaryEnd m-31" id="bdend-0000000378026414" />
                            </g>
                        </g>
                    </svg>
                </svg>
            </div>
        </div>
</div>
</section>