<div class="collections-wrapper">
  <div class="collection-opener">
    <div class="opener-holder-bg">
      <div class="opener-holder">
        <span class="collection-name">Emblem collections</span>
        <div class="js-btns">
          <a href="#" class="btn-up" aria-label="Open the collections drawer">
            <span class="icon-up"></span>
          </a>
          <a href="#" class="btn-down" aria-label="Make the collections drawer half height">
            <span class="icon-down"></span>
          </a>
          <a href="#" class="btn-close" aria-label="Close the collections drawer">
            <span class="icon-cancel"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="all-collections">
    <div class="container">
      <div class="create-collection">
        <div class="new-collection">
          <a class="lightbox btn" data-link="create" data-type="ajax" href="/templates/modals/modal-create.html">Create a new collection</a>
        </div>
        <div class="collection-view" aria-hidden="true">
          <span class="title">view<em>:</em></span>
          <ul class="grids" data-target="#grid">
            <li class="view-icon sm-view">
              <a href="javascript:;" data-grid="small" aria-label="Show Small Images Emblem Grid"><span class="icon-viewsm"></span></a>
            </li>
            <li class="view-icon">
              <a href="javascript:;" data-grid="medium" aria-label="Show Medium Images Emblem Grid"><span class="icon-viewmd"></span></a>
            </li>
            <li class="view-icon">
              <a href="javascript:;" data-grid="large" aria-label="Show Large Images Emblem Grid"><span class="icon-viewlg"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="grids-content small-grid" id="grid"></div>
    </div>
  </div>
</div>