.figure-with-text {
	background: $black;
	padding: 50px 0;
	color: $white;

	@include media ('>=tablet') {
		padding: 100px 0;
	}

	@include media ('>=desktop') {
		padding: 126px 0 128px;
	}

	.container {
		@include media ('>=tablet') {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	.text-hold {
		@include media ('>=tablet') {
			max-width: 50%;
			flex: 0 0 50%;
			padding-right: 30px;
			width: 100%;
		}

		@include media ('>=wider') {
			max-width: 532px;
			flex: 0 0 532px;
			padding-right: 90px;
		}

		a {
			color: #dfe9ef;
			text-decoration: underline;
		}
	}

	.img-hold {
		flex: 1;
		padding-bottom: 40px;

		@include media ('>=tablet') {
			padding: 3px 0 0;
		}
	}

	img {

		@include media ('>=wider') {
			max-width: none;
			margin-right: -118px;
		}
	}

	&.anim-section {
		@include media ('>=tablet') {
			padding: 0;
			position: relative;
			overflow: hidden;
		}

		> .container {
			@include media ('>=tablet') {
				flex-wrap: wrap;
			}
		}

		.anim-content {
			padding: 50px 0;
			position: relative;

			@include media ('>=tablet') {
				min-height: calc(100vh);
				display: flex;
				align-items: center;
				width: 100%;
				padding: 100px 0;
			}

			.img-hold {
				@include media ('>=tablet') {
					position: absolute;
					opacity: 0;
					visibility: hidden;
					left: 50%;
					top: 50%;
					transform: translateY(-50%);
					@include animate(opacity visibility);
				}
			}

			&.content-active {
				.img-hold {
					@include media ('>=tablet') {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		&.fixed-state {
			.anim-content {
				.img-hold {
					@include media ('>=tablet') {
						position: fixed;
					}
				}
			}
		}

		&.scroll-state {
			.content-active {
				.img-hold {
					@include media ('>=tablet') {
						position: absolute;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}