.interactive-notation {
	.music {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin: 0;
		padding: 0;
	}

	.music audio { 
		display: none;
	}
	.music .play-button {
		background: $yellow;
		border-radius: 50%;
		color: $dark-gray;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 150%;
		height: 7rem;
		line-height: 3em;
		padding: .25rem 0 0 .5rem;
		width: 8rem;
	}
	.music .play-button:active,
	.music .play-button:focus {
		background: $light-blue;
		outline: none;
	}
	.music .play-button.playing {
		padding: 0;
	}

	.music .play-button.paused, .music .play-button.playing {
		
	}

	.music .cmn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 2rem;
		width: 100%;
	}
    #highlight-box-1 {
        fill: $green_desaturated;
    }
    #highlight-box-2 {
        fill: $yellow;
    }
    #highlight-box-3 {
        fill: $blue_desaturated;
    }
    #highlight-box-4 {
        fill: $red_desaturated;
    }
	/* parallel fifths icons */
    #path5800, 
    #path6340, 
    #path6344, 
    #path5815 {
    	stroke: $green_desaturated;
    }
    #path6344, 
    #path5815 {
    	fill: $green_desaturated;
    }

	/* parallel octaves icons */
    #path6683, 
    #path7013, 
    #path6687, 
    #path7017 {
    	stroke: $yellow_inverse;
    }
    #path6687, 
    #path7017 {
    	fill: $yellow_inverse;
    }

	/* parallel fifths and octaves icons */
    #path7397, 
    #path7739, 
    #path7743, 
    #path7401 {
    	stroke: $orange;
    }
    #path7743, 
    #path7401 {
    	fill: $orange;
    }

	.music .note.highlighted {
		fill: $yellow_inverse;
		stroke-width: 120%;
	}
	h4 {
		color: $dark-gray;
		display: block;
		font-family: gt_sectra,times new roman,times,baskerville,georgia,serif;
    	line-height: 1;
    	margin-bottom: 6px;
    	padding-top: 1.5rem;
	}
}
#bianchi-music-1 {
	height: 22rem;
	.interactive-notation .music .cmn > svg {
		margin-left: -4rem;
	}
}
#bianchi-music-2 {
	height: 17.5rem;
	.interactive-notation .music {
		padding-top: 1rem;
	}
	.interactive-notation .music .cmn {
		margin-top: -5px;
		padding-top: 0;
	}
	.interactive-notation .music .cmn > svg {
		width: 90%;
	}
}
#bianchi-music-3.interactive-notation {
	height: 22rem;
	padding: 0;
	.music {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0;
	}
	.music .cmn {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		padding-top: 0;
	}
	.music .cmn > svg {
		margin-left: -20px;
		width: 115%;
	}
}