.interactive-notation {
	.music {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		-webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-box-orient: horizontal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
		margin: 0;
		padding: 0;
	}

	.music audio { 
		display: none;
	}
	.music .play-button {
		background: $yellow;
		border: none;
		border-radius: 50%;
		color: $dark-gray;
		cursor: pointer;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 150%;
		height: 7rem;
		line-height: 3em;
		padding: .25rem 0 0 .5rem;
		width: 8rem;
	}
	.music .play-button:hover,
	.music .play-button:active,
	.music .play-button:focus {
		background: $light-blue;
		outline: none;
	}
	.music .play-button.playing {
		padding: 0;
	}

	.music .play-button.paused, .music .play-button.playing {
		
	}
	.music .cmn {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
	    -moz-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-top: 2rem;
		width: 100%;
	}

    #highlight-box-1 {
        fill: $green_desaturated;
    }
    #text3868 {
    	-webkit-transform: translateX(4.25%);
    	-moz-transform: translateX(4.25%);
    	-ms-transform: translateX(4.25%);
		transform: translate3D(4.25%, 0, 0);
	}
    @include media('>phone', '<=tablet') {
    	#highlight-box-1, 
    	#path5800, 
	    #path6340 {
			
    	}
    	#text3868 {

    	}
	}

    #highlight-box-2 {
        fill: $yellow;
    }
    #text3864 {
    	-webkit-transform: translateX(4%);
    	-moz-transform: translateX(4%);
    	-ms-transform: translateX(4%);
		transform: translate3D(4%, 0, 0);
	}
    @include media('>phone', '<=tablet') {
	    #highlight-box-2 {
	    	
    	}
    	#text3864 {

    	}
    }

    #highlight-box-3 {
        fill: $blue_desaturated;
    }
    #text3872 {
    	-webkit-transform: translateX(4.5%);
    	-moz-transform: translateX(4.5%);
    	-ms-transform: translateX(4.5%);
		transform: translate3D(4.5%, 0, 0);
	}
    @include media('>phone', '<=tablet') {
	    #highlight-box-3 {

    	}
    	#text3872 {
  
    	}
    }

    #highlight-box-4 {
        fill: $red_desaturated;
    }
    #text3876 {
    	-webkit-transform: translateX(4.75%);
    	-moz-transform: translateX(4.75%);
    	-ms-transform: translateX(4.75%);
		transform: translate3D(4.75%, 0, 0);
	}
	@include media('>phone', '<=tablet') {
	    #highlight-box-4 {

    	}
    	#text3876 {
  
    	}
    }

	/* parallel fifths icons */
    #path5800, 
    #path6340, 
    #path6344, 
    #path5815 {
    	stroke: $green_desaturated;
    }
    #path6344, 
    #path5815 {
    	fill: $green_desaturated;
    }

	/* parallel octaves icons */
    #path6683, 
    #path7013, 
    #path6687, 
    #path7017 {
    	stroke: $yellow_inverse;
    }
    #path6687, 
    #path7017 {
    	fill: $yellow_inverse;
    }

	/* parallel fifths and octaves icons */
    #path7397, 
    #path7739, 
    #path7743, 
    #path7401 {
    	stroke: $orange;
    }
    #path7743, 
    #path7401 {
    	fill: $orange;
    }

	.music .note.highlighted {
		fill: $yellow_inverse;
		stroke-width: 120%;
	}
	h4 {
		color: $dark-gray;
		display: block;
		font-family: gt_sectra,times new roman,times,baskerville,georgia,serif;
    	line-height: 1;
    	margin-bottom: 6px;
    	padding-top: 1.5rem;
	}
}
#bianchi-music-1 {
	height: 22rem;
	#svg4182 {
		margin-left: 1rem;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}
}
@include media('>=320px', '<tablet') {
	#bianchi-music-1 {
		height: 28rem;
	}
	#bianchi-music-1 .interactive-notation h4, 
	#bianchi-music-2 .interactive-notation h4 {
		margin-bottom: 2rem;
		padding: 0;
	}
	.interactive-notation .music {
		-webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}
	.interactive-notation .music .play-button {
		border-radius: 15px;
		height: 4rem;
		margin-bottom: 1rem;
		padding: 0 0 4rem 0;
		width: 100%;	
	}
	.interactive-notation .music .play-button.playing {
		padding: 0 0 4rem 0;
	}
	.interactive-notation .music .cmn {
		height: 10rem;
		margin: 0 0 0 -0.25rem;
		padding: 0;
	}
	#bianchi-music-1 #svg4182 {
		margin: 0 0 0 0;
		-webkit-transform: scale(.4);
		-moz-transform: scale(.4);
		-ms-transform: scale(.4);
		transform: scale(.4);
	}
}
@include media('>=360px', '<tablet', 'portrait') {
	#bianchi-music-1 #svg4182 {
		-webkit-transform: scale(.45);
		-moz-transform: scale(.45);
		-ms-transform: scale(.45);
		transform: scale(.45);
	}	
}
@include media('>=400px', '<tablet', 'portrait') {
	#bianchi-music-1 #svg4182 {
		-webkit-transform: scale(.48);
		-moz-transform: scale(.48);
		-ms-transform: scale(.48);
		transform: scale(.48);
	}	
}
@include media('>=480px', '<tablet', 'landscape') {
	#bianchi-music-1 {
		height: 24rem;
	}
	#bianchi-music-1 .interactive-notation h4, 
	#bianchi-music-2 .interactive-notation h4 {
		margin-bottom: 0;
	}
	.interactive-notation .music {
		-webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-box-orient: horizontal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.interactive-notation .music .play-button {
		border-radius: 50%;
		height: 5rem;
		margin-bottom: 0;
		padding: 0 0 0 0;
		width: 5rem;	
	}
	.interactive-notation .music .cmn {
		height: auto;
		margin: 1rem 0 0 0;
		width: 85%;
	}
	#bianchi-music-1 #svg4182 {
		margin: 0 0 0 0;
		-webkit-transform: scale(.55);
		-moz-transform: scale(.55);
		-ms-transform: scale(.55);
		transform: scale(.55);
	}
}
@include media('>=600px', '<tablet', 'landscape') {
	#bianchi-music-1 #svg4182 {
		-webkit-transform: scale(.65);
		-moz-transform: scale(.65);
		-ms-transform: scale(.65);
		transform: scale(.65);
	}	
}
@include media('>=700px', '<tablet', 'landscape') {
	#bianchi-music-1 {
		height: 24rem;
	}
	.interactive-notation .music .cmn {
		width: 88%;
	}
	#bianchi-music-1 #svg4182 {
		-webkit-transform: scale(.75);
		-moz-transform: scale(.75);
		-ms-transform: scale(.75);
		transform: scale(.75);
	}	
}
@include media('>=tablet', '<=desktop') {
	.interactive-notation .music .cmn {
		width: 88%;
	}
	.interactive-notation .music .play-button {
		height: 5.5rem;
		width: 5.5rem;
	}
	#bianchi-music-1 #svg4182 {
		margin: 0 -2rem 0 0;
		-webkit-transform: scale(.8);
		-moz-transform: scale(.8);
		-ms-transform: scale(.8);
		transform: scale(.8);
	}
}
@include media('>desktop', '<=1350px') {
	#bianchi-music-1 #svg4182 {
		margin: 0;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}	
}
#bianchi-music-2 {
	height: 17.5rem;
	.interactive-notation .music {
		padding-top: 1rem;
	}
	.interactive-notation .music .cmn {
		margin-top: -5px;
		padding-top: 0;
	}
	.interactive-notation .music .cmn > svg {
		width: 90%
	}
}
@include media('>=320px', '<tablet') {
	#bianchi-music-2 {
		padding: .5rem 0;
	}
	#bianchi-music-2 .interactive-notation .music .cmn > svg {
		height: 4rem;
		margin: -4rem -3.5rem 1rem 0;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
		width: 100%;
	}
}
@include media('>=tablet', '<=desktop') {
	#bianchi-music-2 .interactive-notation .music .cmn > svg {
		margin-right: -8rem;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
}
#bianchi-music-3.interactive-notation {
	height: 22rem;
	padding: 0;
	.music {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: start;
	    -moz-box-align: start;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;
		-webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
		padding: 0;
	}
	.music .cmn {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	    -webkit-box-align: start;
	    -moz-box-align: start;
	    -webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;
		-webkit-box-pack: center;
	    -moz-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
		-webkit-box-direction: normal;
	    -moz-box-direction: normal;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
		padding-top: 0;
	}
	.music .cmn > svg {
		margin-left: -20px;
		width: 115%;
	}
}
@include media('>=320px', '<tablet') {
	#bianchi-music-3.interactive-notation {
		height: 15rem;
	}
	#bianchi-music-3.interactive-notation .music .cmn {
		width: 100%;
	}
	#bianchi-music-3.interactive-notation .music .cmn > svg {
		margin-left: 2.5rem;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
		width: 100%;
	}
}
@include media('>=tablet', '<=desktop') {
	#bianchi-music-3.interactive-notation .music .cmn > svg {
		margin-left: 3.875rem;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
}