.properties-section {
	padding-top: 49px;
	padding-bottom: 50px;

	@include media('>=tablet') {
		padding: 0;
		position: relative;
	}

	.container {
		height: 100%;
		position: static;
	}

	.properties-fake-wrapper {
		@include media('>=tablet') {
			background: #f1f1f1;
			min-height: 100vh;
			position: absolute;
			padding: 50px 0;
			left: 15px;
			right: 15px;
			height: 100%;
		}
	}

	&.fixed-state {
		.properties-fake-wrapper {
			@include media('>=tablet') {
				position: fixed;
				left: 15px;
				right: 15px;
				top: 0;
			}
			.mask-active {
				@include media('>=tablet') {
					position: absolute;
					left: 0;
					width: 100%;
				}
			}
		}
	}

	&.scroll-state {
		.properties-fake-wrapper {
			position: absolute;
			left: 15px;
			right: 15px;
			top: 0;

			.mask {
				&:not(:last-child) {
					@include media('>=tablet') {
						opacity: 0;
						visibility: hidden;
						position: absolute;
						left: 0;
						width: 100%;
					}
				}

				&:last-child {
					position: absolute;
					left: 0;
					bottom: 0;
					top: auto;
				}
			}
		}
	}

	.text {
		margin-bottom: 42px;
		font-weight: 600;
		display: block;

		@include media('>=tablet') {
			margin-bottom: 95px;
		}

		.colon {
			font-weight: 400;
		}
	}

	.mask {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include media('>=tablet') {
			position: absolute;
			top: 150px;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
			width: 100%;
			min-height: calc(100vh - 150px);
			max-width: 1110px;
			margin: 0 auto;
			transition: opacity 0.25s, visibility 0.25s;
		}

		&.mask-active {
			@include media('>=tablet') {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.desc {
		margin-bottom: 30px
		;
		@include media('>=tablet') {
			margin-bottom: 0;
			width: 49%;
			padding-left: 15px;
		}
	}

	.board-holder {
		width: 290px;
		margin: 0 auto 50px;

		@include media('>=tablet') {
			width: 40.6%;
			margin: 5px 0 0;
		}

		@include media('>=widescreen') {
			width: 46%;
		}

		@include media('>=wider') {
			width: 49%;
		}

		.item {
			position: relative;
			padding-left: 34px;
			padding-right: 34px;

			@include media('>=widescreen') {
				padding-right: 115px;
				padding-left: 54px;
			}

			.rotate {
				position: absolute;
				top: -50px;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;

				@include media('>=tablet') {
					top: -90px;
				}

				img {
					width: 60%;
					display: inline-block;

					@include media('>=tablet') {
						width: 80%;
					}

					@include media('>=wider') {
						width: auto;
					}
				}
			}

			.arrow-y {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;

				@include media('>=widescreen') {
					padding-right: 61px;
				}

				img {
					display: inline-block;
					max-width: 100%;
					width: 60%;

					@include media('>=desktop') {
						width: 80%;
					}

					@include media('>=wider') {
						width: auto;
					}
				}

				&.top {
					top: -34px;

					@include media('>=desktop') {
						top: -54px;
					}
				}

				&.bottom {
					transform: rotate(180deg) translateX(60px);
					bottom: -34px;

					@include media('>=desktop') {
						bottom: -54px;
					}

					@include media('>=widescreen') {
						margin-left: -30px;
						padding-right: 0;
					}
				}
			}

			.arrow-x {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				@include media('>=widescreen') {
					padding-right: 61px;
				}

				img {
					max-width: 100%;
					width: 60%;

					@include media('>=desktop') {
						width: 80%;
					}

					@include media('>=wider') {
						width: auto;
					}
				}

				&.left {
					left: 0;
				}

				&.right {
					transform: rotate(180deg) translateY(69px);
					right: 0;

					@include media('>=desktop') {
						transform: rotate(180deg) translateY(95px);
					}

					@include media('>=widescreen') {
						right: 61px;
					}

					@include media('>=wider') {
						transform: rotate(180deg) translateY(115px);
					}
				}
			}
		}

		.owl-stage-outer {
			padding: 74px 0 34px;
			margin: -44px 0 0;

			@include media('>=tablet') {
				padding: 94px 0 54px;
				margin: -94px 0 0;
			}
		}

		.calc-hold {
			font-size: 15px;
			line-height: 1.4;
			text-align: center;
			padding-top: 15px;
			position: absolute;
			left: 0;
			right: 0;
			
			@include media('>=widescreen') {
				top: 50%;
				right: 2px;
				left: auto;
				transform: translateY(-50%);
				text-align: left;
				padding-top: 0;
			}

			em {
				color: #658197;
				font-style: normal;
			}
		}
	}

	.owl-theme {
		.owl-nav {
			&.disabled {
				+ .owl-dots {
					margin-top: 20px;

					@include media('>=widescreen') {
						margin-top: 33px;
					}
				}
			}
		}

		.owl-dots {
			@include media('>=widescreen') {
				padding-right: 61px;
			}

			.owl-dot {
				span {
					width: 12px;
					height: 12px;
					background: #c7c7c7;
					margin: 5px 4px;
				}

				&.active {
					span {
						background: #4d4d4d;
					}
				}
			}
		}
	}
}